<link rel='stylesheet' href='/stylesheets/login.css'/>


<div id="lo" class="row ">

    <div class="col s8 m4 white offset-m4  center  ">

        <img src="/images/bitmap.png" width="100px" height="100px">

        <h5>ShopSisWeb 0.1.0</h5>

        <form action="#" method="post">
            <div class="input-field">
                <label for="email">email</label>
                <input id="email" type="text" required="">
            </div>

            <div class="input-field">
                <label for="email">password</label>
                <input id="email" type="text" required="">
            </div>

          <center>  <button style="border-radius: 20px; margin-bottom: 16px;" class="btn green btn-block" type="submit">Entrar</button> </center>
        </form>


    </div>



</div>


<div id="rodape" >

        <div class="verde1">

            <p >AJ Software todos direitos reservados</p>

        </div>


</div>





