<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/javascripts/libs/materialize/css/iconMaterial.css' />
      <link rel='stylesheet' href='/javascripts/libs/materialize/css/materialize.css' />

  </head>
  <body>

      {{{body}}}


  </body>




  <script  src='/javascripts/libs/jquery/jquery.js' type="application/javascript" ></script>
  <script  src='/javascripts/libs/materialize/js/materialize.js' type="application/javascript" ></script>

</html>
